.container-pefilUser {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 90%;
    text-align: left;
    margin-bottom: 0.4rem;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 35%; /* 30% menor que os 50% dos inputs */
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}